<form [formGroup]="raceForm" (ngSubmit)="onSubmit(raceForm.value)">
    <label for="SponsorName">Sponsor Name</label>
    <input type="text" id="sponsorName" formControlName="SponsorName">
    <label for="SponsorPhone">Sponsor Phone</label>
    <input type="text" id="sponsorPhone" formControlName="SponsorPhone">
    <label for="SponsorEmail">Sponsor Email</label>
    <input type="text" id="sponsorEmail" formControlName="SponsorEmail">
    <label for="MaxGroupSize">Max Entrants</label>
    <input type="number" min="1" max="20" formControlName="MaxGroupSize">
    <input type="button" id="cancel-register-race-edit" value="Cancel" routerLink='/races'>
    <input type="submit" id="register-race" value="Save Race">
</form>
