/* main {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
} */
.figure-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media(max-width: 950px) {
    .figure-layout {
        flex-direction: column;
        flex: 1;
    }
}

.picture-link {
    width:250px;
    height:150px;
    border-radius:50%;
    overflow:hidden;
}

.Site-content {
    flex: 1;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


