<main class="Site-content">
    <figure>
       <img src="assets/images/Oaklawn.jpg" width="300" height="200" alt="" class="picture-link">
       <figcaption>Oaklawn</figcaption>
    </figure>
    <figure>
       <img src="assets/images/Turfway Park.jpg" width="300" height="200" alt="" class="picture-link">
       <figcaption>Turfway Park</figcaption>
    </figure>
    <figure>
       <img src="assets/images/Del Mar.jpg" width="300" height="200" alt="" class="picture-link">
       <figcaption>Del Mar</figcaption>
    </figure>
</main>
