<select  name="races" id="races"  [(ngModel)]="selectedRace" (change)="isViewAll($event.target.value)">
    <option value="ViewAll">View All</option>
    <option *ngFor="let race of allRaces" [ngValue]="race" value="Race{{this.race.RaceId}}">Race {{this.race.RaceId}}</option>
</select>
<a routerLink="addRace">
    <input type="button" value="Add Race">
</a>
<div *ngIf="!this.viewAll">
    <table>
        <tr>
            <th>Horse Color</th>
            <th>Horse Name</th>
            <th>Odds</th>
            <th>Jockey Name</th>
            <th>Contact Phone</th>
            <th>Contact Email</th>
        </tr>
        <tr *ngFor="let horse of this.selectedRace.Members">
            <td>{{ horse.HorseColor }}</td>
            <td>{{ horse.HorseName }}</td>
            <td>{{ horse.Odds }}</td>
            <td>{{ horse.JockeyName }}</td>
            <td>{{ horse.MemberPhone }}</td>
            <td>{{ horse.MemberEmail }}</td>
            <td>
                <!-- <button type="text" (click)="display = !display" pButton icon="fa-external-link-square" label="Show">Edit</button> -->
                <input routerLink="editEntrant" type="button" (click)="editHorse(this.selectedRace, this.horse)" value="Edit">
            </td>
            <td>
                <input type="button" (click)="deleteHorse(this.selectedRace.RaceId, this.horse.MemberId)" value="Delete">
            </td>
            <!-- <p-dialog header="Title" [(visible)]="display"  (onHide)="close()">
                <input type="text" pInputText value="{{ horse.HorseName }}">
                <p-selectButton [options]="mappedColor" ></p-selectButton>
            </p-dialog> -->
        </tr>
    </table>
    <a routerLink="addEntrant" (click)="addHorse(this.selectedRace)">
        <input type="button" value="Add Horse">
    </a>
    <p>Max Entrants: {{this.selectedRace.MaxGroupSize}}</p>
    <p>Sponsor Name: {{this.selectedRace.SponsorName}}</p>
    <p>Sponsor Email: {{this.selectedRace.SponsorEmail}}</p>
    <p>Sponsor Phone: {{this.selectedRace.SponsorPhone}}</p>
    <a routerLink="editRace" (click)="editRace()">
        <input type="button" value="Edit Race">
    </a>
    <input type="button" (click)="deleteRace()" value="Delete Race">
</div>
<div *ngIf="this.viewAll">
    <div *ngFor="let race of allRaces">
        <h1>Race {{ race.RaceId }}</h1>
        <table>
            <tr>
                <th>Horse Color</th>
                <th>Horse Name</th>
                <th>Odds</th>
                <th>Jockey Name</th>
                <th>Contact Phone</th>
                <th>Contact Email</th>
            </tr>
            <tr *ngFor="let horse of race.Members">
                <td>{{ horse.HorseColor }}</td>
                <td>{{ horse.HorseName }}</td>
                <td>{{ horse.Odds }}</td>
                <td>{{ horse.JockeyName }}</td>
                <td>{{ horse.MemberPhone }}</td>
                <td>{{ horse.MemberEmail }}</td>
                <td>
                <!-- <p-dialog header="Title" [(visible)]="display"  (onHide)="close()">
                    <input type="text" pInputText value="{{ horse.HorseName }}">
                    <p-selectButton [options]="mappedColor" ></p-selectButton>
                </p-dialog> -->
            </tr>
        </table>
        <p>Max Entrants: {{race.MaxGroupSize}}</p>
        <p>Sponsor Name: {{race.SponsorName}}</p>
        <p>Sponsor Email: {{race.SponsorEmail}}</p>
        <p>Sponsor Phone: {{race.SponsorPhone}}</p>
    </div>
</div>
